{% extends "eduprod/layout.html" %}

{% block body %}
<div>
    <form id="ageForm">
        <label for="age">Select your age:</label>
        <select id="age" name="age">
            <option value="">Please select</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <br><br>
        <input type="button" value="Submit" onclick="redirectToPage()">
    </form>
</div>
{% endblock %}
